@mixin font-face(
  $fontFamily, $fileName, $fontWeight, $fontStyle
) {
  font-family: $fontFamily;
  src: url('@/assets/fonts/#{$fileName}') format('woff2'),
  url('@/assets/fonts/#{$fileName}') format('woff');
  font-weight: $fontWeight;
  font-style: $fontStyle;
  font-display: swap;
}

@mixin input-field {
  height: 64px;
  padding: 24px 20px 8px;
  border: 2px solid $color-gray;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  color: $color-blue;
  outline: none;
}

@mixin input-label {
  position: absolute;
  top: 24px;
  left: 20px;
  font-size: 14px;
  pointer-events: none;
  transition: top .1s linear;
}

@mixin input-error {
  position: absolute;
  top: 100%;
  color: red;
  font-size: 12px;
}